<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jobsforhosh</title>
  <%- defineContent('links') %>
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Roboto|Sacramento" rel="stylesheet">
  <link rel="stylesheet" href="css/default.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </nav>
  <%- defineContent('main') %>
  <div class="privacy" align="center">
    <a href="//www.iubenda.com/privacy-policy/8007696" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
</body>
</html>
