.body {
    margin: 0;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
}

.card-wrapper {
    margin-top: 2%;
    height: 60%;
    width: 25%;
    margin-left: 37.5%;
}
/*
.list .card {
  display: none;
}

.list .current {
  display: block;
}
*/

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #574B90;
    transform-origin: 50% 99%;
    border-radius: 2%;
    overflow: hidden;
}

.card div {
    border: 1px solid #574B90;
    border-radius: 2%;
    font-family: 'Roboto';
}

.card .job-name {
    border: none;
    position: relative;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 2%;
    width: 40%;
    height: 2em;
    color: #9E579D;
}

.card .company-name {
    border: none;
    position: relative;
    font-size: 14px;
    margin-left: 2%;
    color: gray;
    width: 40%;
    height: 2em;
}

.card .job-desc {
    position: relative;
    width: 75%;
    max-height: 70%;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: scroll;
}

.card .job-desc p {
    color: #9E579D;
    font-size: 14px;
    text-align: center;
}

.button-wrapper {
    position: relative;
    width: 10%;
    margin-top: 1%;
    margin-left: 45%;
    text-align: center;
    /*                display: inline-table;*/
}

.but-num {
    border-radius: 30%;
    width: 17%;
    background-color: whitesmoke;
}

.but-num:hover {
    background-color: #FC85AE !important;
    color: #BFFC85 !important;
}

.but-submit {
    position: relative;
    margin-top: 5%;
    width: 50%;
    border-radius: 15%;
    background-color: whitesmoke;
}