body {
    /*    background-color: #2196F3;*/
    background-color: #574B90;
}

body p {
    font-family: "Coming Soon";
    color: white;
    font-size: 40px;
    left: 43%;
    top: 0%;
    position: absolute;
}

.button-wrapper button {
    text-align: center;
    /*    background-color: #4CAF50;*/
    background-color: #FC85AE;
    font-family: "Roboto";
    padding: 15px 32px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 45%;
}

.form-wrapper input {
    position: absolute;
    top: 30%;
    left: 33%;
    width: 33%;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #9E579D;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #555;
}

input::-webkit-input-placeholder {
    font-family: "Roboto";
}