<%- contentFor('links') %>
<link rel="stylesheet" href="css/home.css">

<%- contentFor('main') %>
<div class="main-wrapper">
    <header>
      <img src="img/logo2.svg" />
    </header>
    <div class="content-wrapper">
      <div class="inner-content-wrapper">
        <h1>
          Jobs.
        </h1>
        <h3>
          Because you deserve them.
        </h3>
        
        <form action="/signup">
          <button class="CTA-button">Start Searching</button>
          <buttton class="button-shadow"></buttton>
        </form>
      </div>
      
    </div>
    <div class="shadow"></div>
</div>