<%- contentFor('links') %>
<link rel="stylesheet" href="css/home.css">

<%- contentFor('main') %>
<div class="main-wrapper">
    <p>jobsforhosh</p>
    <div class="form-wrapper">
        <form>
            <input type="text" placeholder="email">
        </form>
    </div>
    <div class="button-wrapper">
        <button class="submit-button" onclick="transitionToCard()">Sign up</button>
    </div>
</div>