<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JobsForHosh</title>

    <script>
        function transitionToCard() {
            window.location.href = "http://localhost:8443/card.html";
        }
    </script>

    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Roboto|Sacramento" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <p>jobsforhosh</p>
        <div class="form-wrapper">
            <form>
                <input type="text" placeholder="email">
            </form>
        </div>
        <div class="button-wrapper">
            <button class="submit-button" onclick="transitionToCard()">Sign up</button>
        </div>
    </div>
</body>

</html>