<%- contentFor('links') %>

<link rel="stylesheet" href="css/thanks.css">
<script>

// window.onload = function() {
//     // do some database call for first card..try to use iterator pattern
//     // var jobName, companyName, jobDesc = jobIterator.nextJob()
//
//     //            writeText("testName", "testCompany", "Hi");
//
// };
</script>
<%- contentFor('main') %>

<p> Thanks for signing up! You should get an introduction email soon.</p>
